body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 30px;
  flex: 1;
}

.problem-list {
  margin-bottom: 30px;
  flex: 1;
}

.problem-list h2 {
  margin: 20px 0;
  font-size: 22px;
}

.problem-list ul {
  height: 350px;
  overflow-y: scroll;
  padding: 0;
}
.problem-list ul {
  list-style: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation button {
  padding: 10px;
  border: none;
  background-color: white;
  margin-left: 2px;
  border-radius: 5px;
}

.categoryLabel {
  margin-left: 10px;
}
#category {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 7px;
}

.student-list {
  margin: 0px;
  flex: 1;
}
#studentsList {
  overflow-y: scroll;
  height: 340px;
}

.student-list h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.student-list ul {
  list-style-type: none;
  padding: 0;
}

.sec2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.student-list ul li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.student-list p {
  margin: 10px 0px;
}

.student-list ul li:hover {
  background-color: #f1f1f1;
}

.createHomework {
  flex: 1;
}

#createHomeworkForm {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 40px;
  height: 300px;
}

#createHomeworkForm label {
  display: block;
  margin-bottom: 5px;
  color: gray;
  font-size: 18px;
}

#createHomeworkForm input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
  outline: none;
}

#createHomeworkForm button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

#createHomeworkForm button:hover {
  background-color: #0056b3;
}

.homeworkWrapper {
  flex: 1;
}

.homework-list {
  margin: 20px 0;
  height: 340px;
  overflow-y: scroll;
  padding: 0px 20px;
  background-color: whitesmoke;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.homework-list h2 {
  font-size: 1.5em;
  margin: 0px;
}
.deleteHomeworkBtn {
  margin: 10px 0px;
}

#homeworkList li p {
  display: inline-block;
}
#homeworkList {
  margin-top: 0px;
}

.homework-list ul {
  list-style-type: none;
  padding: 0;
}
.homeworkProblems {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px !important;
  height: 200px;
  overflow-y: scroll;
}

.homeworkProblems li {
  background-color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
}
.homework-list p {
  margin: 0px 10px;
}

.homework-list h3 {
  margin: 0px;
}

.homework-list button {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.homework-list button:hover {
  background-color: #0056b3;
}

.sec {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.viewBtn {
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.exportCsvButton {
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
.problem-list ul li {
  font-size: 16px;
}
.problem {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin-top: 5px;
  align-items: center;
  transition: background-color 0.3s ease;
}
.problem:hover {
  background-color: #f1f1f1;
}
.usor {
  color: rgb(0, 255, 0);
}
.mediu {
  color: rgb(255, 208, 0);
}
.greu {
  color: red;
}
.student-list ul li {
  padding: 0px 5px;
}
.navigation {
  margin-bottom: 35px;
}
.createHomework h2 {
  margin-top: 0px;
}

@media all and (max-width: 768px) {
  main {
    padding: 12px;
  }
  .navigation h2 {
    font-size: 14px;
  }
  .createHomework p {
    margin: 0px;
  }
  .problem-list ul li {
    font-size: 14px;
  }
  #classInfo {
    font-size: 22px;
  }
  #problemsCount,
  .createHomework h2,
  #homeworksCount,
  .student-list h2 {
    font-size: 18px;
  }
  #problemsCount {
    margin: 0px;
  }
  #homeworkList li p {
    font-size: 14px;
  }
  #homeworkProblems ul li {
    font-size: 14px;
  }
  .homeworkProblems {
    padding: 10px !important;
    height: 100px;
  }
  .homeworkProblems li {
    padding: 5px;
  }
  .deleteHomeworkBtn,
  .homework-list button {
    padding: 5px 7px;
    font-size: 12px;
  }
  .sec {
    gap: 10px;
  }
  .homework-list {
    padding: 0px 10px;
  }
  .student-list ul li {
    padding: 0px 2px;
  }
  #studentsList li p {
    font-size: 12px;
    margin-right: 2px;
  }
  #studentsList li p:last-child {
    display: none;
  }
  .problem button {
    padding: 5px;
    font-size: 12px;
  }
  .problem {
    font-size: 12px;
  }
  .exportCsvButton {
    margin-left: 2px;
  }
  .cat {
    margin: 0px;
  }
  .exportCsvButton {
    display: none;
  }
  .viewBtn {
    margin-left: 0px;
  }
  #category {
    font-size: 12px;
    padding: 5px;
    width: 20px;
  }
  #createHomeworkForm {
    padding: 20px;
  }
  #createHomeworkForm label {
    font-size: 14px;
  }
  #createHomeworkForm input[type="text"] {
    font-size: 14px;
    margin-bottom: 5px;
  }
  #createHomeworkForm button {
    font-size: 14px;
    padding: 5px 7px;
  }
}
@media all and (max-width: 360px) {
  main {
    padding: 3vw;
  }
  .navigation h2 {
    font-size: 3vw;
  }
  .createHomework p {
    margin: 0px;
  }
  .problem-list ul li {
    font-size: 3vw;
  }
  #classInfo {
    font-size: 4vw;
  }
  #problemsCount,
  .createHomework h2,
  #homeworksCount,
  .student-list h2 {
    font-size: 4vw;
  }
  #problemsCount {
    margin: 0px;
  }
  #homeworkList li p {
    font-size: 3vw;
  }
  #homeworkProblems div li {
    font-size: 3vw;
  }
  .homeworkProblems {
    padding: 2vw !important;
    height: 20vw;
  }
  .homeworkProblems li {
    padding: 1vw;
  }
  .deleteHomeworkBtn,
  .homework-list button {
    padding: 1vw 1vw;
    font-size: 3vw;
    margin: 0px;
  }
  .sec {
    gap: 2vw;
  }
  .homework-list {
    padding: 0px 2vw;
  }
  .student-list ul li {
    padding: 0px 1vw;
  }
  #studentsList li p {
    font-size: 3vw;
    margin-right: 1vw;
  }
  #studentsList li p:last-child {
    display: none;
  }
  .problem button {
    padding: 1vw;
    font-size: 3vw;
  }
  .problem {
    font-size: 3vw;
  }
  .exportCsvButton {
    margin-left: 1vw;
  }
  .cat {
    margin: 0px;
  }
  .exportCsvButton {
    display: none;
  }
  .viewBtn {
    margin-left: 0px;
  }
  #category {
    font-size: 3vw;
    padding: 1vw;
    width: 4vw;
  }
  #createHomeworkForm {
    padding: 4vw;
    height: 80vw;
  }
  #createHomeworkForm label {
    font-size: 3vw;
  }
  #createHomeworkForm input[type="text"] {
    font-size: 3vw;
    margin-bottom: 1vw;
    padding: 2vw;
  }
  #createHomeworkForm button {
    font-size: 3vw;
    padding: 1vw 1vw;
  }
  .homework-list {
    height: 80vw;
    margin: 5vw 0px;
  }
  #studentsList {
    height: 80vw;
  }
  .homeworkProblems li p {
    margin: 0px 2vw;
  }
  #homeworkList li p {
    margin: 2vw 2vw;
  }
  .student-list h2 {
    margin-bottom: 4vw;
  }
  #studentsList li p {
    margin: 2vw 0px;
  }
  #studentsList {
    margin: 5vw 0px;
  }
  .problem-list ul {
    margin: 0px;
    height: 90vw;
  }
  .navigation {
    margin-bottom: 5vw;
  }
  .sec2 {
    gap: 4vw;
  }
  .problem {
    padding: 1vw 1vw;
  }
  br {
    height: 1vw;
  }
  #createHomeworkForm {
    line-height: 5vw;
  }
}
