footer {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  color: white;
  font-size: 16px;
}
@media all and (max-width: 768px) {
  footer {
    font-size: 12px;
  }
}
@media all and (max-width: 360px) {
  footer {
    font-size: 3vw;
  }
}
