body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-bottom: 30px;
}

.hero h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(98, 119, 202);
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 7px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.features {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

#features h2 {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.features {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80vw;
  border: 2px solid whitesmoke;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  animation: 30s slide infinite linear;
}
.features::before {
  position: absolute;
  top: 0;
  left: -10px;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), whitesmoke);
  content: "";
  z-index: 2;
}
.features::after {
  position: absolute;
  top: 0;
  right: -5px;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), whitesmoke);
  content: "";
  z-index: 2;
}

.feature {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 400px;
  height: 200px;
  margin: 15px;
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.feature h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.feature p {
  font-size: 16px;
  line-height: 25px;
  width: 80%;
  margin: auto;
}

@media all and (max-width: 768px) {
  .hero h2 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 360px;
    margin: 20px auto;
  }
  .hero p {
    width: 360px;
    margin: auto;
    font-size: 16px;
  }
  .btn {
    font-size: 12px;
    margin-top: 30px;
  }
  #features h2 {
    font-size: 28px;
  }
  .feature h3 {
    font-size: 20px;
  }
  .feature p {
    font-size: 14px;
  }
}
@media all and (max-width: 360px) {
  .hero h2 {
    font-size: 5vw;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
  }
  .hero p {
    width: 100%;
    font-size: 4vw;
  }
  .btn {
    font-size: 2vw;
    margin-top: 30px;
  }
  #features h2 {
    font-size: 4vw;
  }
  .feature {
    height: 100px;
  }
  .feature h3 {
    font-size: 5vw;
  }
  .feature p {
    font-size: 3vw;
  }
  .btn {
    padding: 2.5vw;
  }
}
