body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.container h2 {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 28px;
}

.container a {
  color: rgb(170, 170, 170);
  font-size: 14px;
}

#loginForm {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
}

.form-group input {
  width: 450px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: whitesmoke;
}
.form-group input:focus {
  outline: 2px solid gray;
}

.form-group input::placeholder {
  color: rgb(206, 206, 206);
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}
@media all and (max-width: 768px) {
  .container h2 {
    font-size: 22px;
  }
  .container label {
    font-size: 14px;
  }
  .form-group input {
    font-size: 12px;
    width: 300px;
  }
  button {
    font-size: 12px;
  }
  .form-group input::placeholder {
    font-size: 12px;
  }
}
@media all and (max-width: 360px) {
  .container h2 {
    font-size: 4vw;
  }
  .container label {
    font-size: 3vw;
  }
  .form-group input {
    font-size: 3vw;
    width: 70vw;
    padding: 3vw;
  }
  button {
    font-size: 2vw;
  }
  .form-group input::placeholder {
    font-size: 3vw;
  }
}
