<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Administrator</title>
    <link rel="stylesheet" href="/css/admin_dashboard.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <header>
      <h1>Dashboard Administrator</h1>
      <nav>
        <ul>
          <li><a href="#dashboard">Dashboard</a></li>
          <li><a href="#utilizatori">Utilizatori</a></li>
          <li><a href="#probleme">Probleme</a></li>
          <li><a href="#clase">Clase</a></li>
          <li><a href="/pages/index.html">Logout</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="overview" id="dashboard">
        <h2>Prezentare generala</h2>
        <div class="charts">
          <canvas id="problemChart"></canvas>
          <canvas id="classReportChart"></canvas>
        </div>
      </section>
      <div class="sec">
        <div class="sec1">
          <section class="users" id="utilizatori">
            <h2>Utilizatori</h2>
            <table id="userTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Email Utilizator</th>
                  <th>Actiuni</th>
                </tr>
              </thead>
              <tbody id="listaUseri">
                {% for user in users %}
                <tr>
                  <td>{{ user[0] }}</td>
                  <td>{{ user[2] }}</td>
                  <td>
                    <button
                      class="viewBtn"
                      onclick="{handleViewUser('{{ user[0] }}')}"
                    >
                      Vizualizeaza
                    </button>
                    <button
                      class="deleteBtn"
                      onclick="{handleDeleteUser('{{ user[0] }}')}"
                    >
                      Sterge
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <button id="addUserBtn" onclick="{handleAddUser()}">
              Adauga Utilizator
            </button>
          </section>

          <section class="problems" id="probleme">
            <h2>Probleme</h2>
            <table id="problemTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nume Problema</th>
                  <th>Actiuni</th>
                </tr>
              </thead>
              <tbody id="listaProbleme">
                {% for problem in problems %}
                <tr>
                  <td>{{ problem[0] }}</td>
                  <td>{{ problem[1] }}</td>
                  <td>
                    <button
                      class="viewBtn"
                      onclick="{handleViewProblem('{{ problem[0] }}')}"
                    >
                      Vizualizeaza
                    </button>
                    <button
                      class="deleteBtn"
                      onclick="{handleDeleteProblem('{{ problem[0] }}')}"
                    >
                      Sterge
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <button id="addProblemBtn" onclick="{handleAddProblem()}">
              Adauga Problema
            </button>
          </section>
        </div>
        <div class="sec2">
          <section class="classes" id="clase">
            <h2>Clase</h2>
            <table id="classTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nume Clasa</th>
                  <th>Actiuni</th>
                </tr>
              </thead>
              <tbody id="listaClase">
                {% for class in classes %}
                <tr>
                  <td>{{ class[0] }}</td>
                  <td>{{ class[1] }}</td>
                  <td>
                    <button
                      class="deleteBtn"
                      onclick="{handleDeleteClass('{{ class[0] }}')}"
                    >
                      Sterge
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <button id="addClassBtn" onclick="{handleAddClass()}">
              Adauga Clasa
            </button>
          </section>

          <section class="problems">
            <h2>Probleme neconfirmate</h2>
            {% for problem in problems %}
            <div class="problem">
              <div class="labelProblem">
                <h3>{{ problem[1] }} [{{problem[0]}}]</h3>
                <p>Dificultate: {{problem[3]}}</p>
                <p>Categorie: {{problem[4]}}</p>
              </div>
              <button
                class="solve-btn"
                onclick="viewProblem('{{ problem[0] }}')"
              >
                Vezi
              </button>
              <button
                class="viewBtn"
                onclick="confirmProblem('{{ problem[0] }}')"
              >
                Confirma
              </button>
              <button
                class="deleteBtn"
                onclick="deleteProblem('{{ problem[0] }}')"
              >
                Sterge
              </button>
            </div>
            {% endfor %}
          </section>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 Dashboard Administrator</p>
    </footer>

    <script src="/javascript/admin_dashboard.js"></script>
  </body>
</html>
