@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  width: 98%;
  margin: 0 auto;
}

main {
  padding: 20px;
}

.greenBg {
  background-color: rgb(30, 255, 0) !important;
}
.redBg {
  background-color: red !important;
}
.greenBg:hover {
  background-color: rgb(23, 194, 0) !important;
}
.redBg:hover {
  background-color: rgb(190, 0, 0) !important;
}

h2 {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 26px;
  text-align: center;
}

.problem {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.comment {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.comment textarea {
  padding-left: 2px;
}

.comment h3,
.comment p {
  margin: 0px;
}

.comms {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.addComm {
  flex: 1;
}

.viewComm {
  flex: 1;
}
.comments {
  height: 300px;
  overflow-y: scroll;
  padding: 5px;
}

.problem p {
  color: gray;
  font-size: 18px;
}

label {
  font-weight: bold;
  font-size: 18px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
  outline: none;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  padding-left: 32px;
  overflow: hidden;
  resize: none;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: block;
}

button:hover {
  background-color: #0056b3;
}

#studentId {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  display: block;
  margin: 10px 0;
  width: 140px;
  border: 1px solid rgb(224, 224, 224);
}

.text {
  position: relative;
  display: flex;
}

.line-numbers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  background: whitesmoke;
  text-align: right;
  padding-right: 5px;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: "Fira Code", monospace;
}
#attempts {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  height: 300px;
}

#attempt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

#attempt h3 {
  margin: 0px;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.viewCode {
  height: 100%;
}

.viewEvaluation {
  margin-left: 20px;
}
@media all and (max-width: 768px) {
  main {
    padding: 10px;
  }
  h2 {
    font-size: 20px;
  }
  .problem p {
    font-size: 14px;
    margin: 7px 0px;
  }
  #solutionForm label {
    font-size: 14px;
  }
  #solutionForm button {
    padding: 6px 12px;
    font-size: 14px;
  }
  .problem {
    padding: 10px;
  }
  textarea {
    font-size: 12px;
    padding-left: 16px;
  }
  .line-numbers {
    width: 16px;
    padding-right: 5px;
    font-size: 12px;
    color: gray;
  }
  .addComm h2,
  .viewComm h2 {
    font-size: 18px;
  }
  .comment {
    padding: 10px;
  }
  .comment h3 {
    font-size: 14px;
  }
  .comment p {
    font-size: 12px;
  }
  .description {
    font-size: 10px;
  }
  #commentForm button {
    font-size: 14px;
    padding: 6px 12px;
  }
  .comments {
    height: 215px;
  }
  #attempts {
    padding: 5px;
  }
  #attempt h3 {
    font-size: 14px;
  }
  .viewEvaluation {
    font-size: 14px;
    padding: 6px 12px;
    margin-left: 5px;
  }
  .viewBtn {
    font-size: 14px;
    padding: 6px 12px;
    margin-left: 5px;
  }
  #attempts {
    height: 200px;
  }
}
@media all and (max-width: 360px) {
  main {
    padding: 2vw;
  }
  h2 {
    font-size: 4vw;
  }
  .problem p {
    font-size: 3vw;
    margin: 1vw 0px;
  }
  #solutionForm label {
    font-size: 3vw;
  }
  #solutionForm button {
    padding: 1vw 2vw;
    font-size: 3vw;
  }
  .problem {
    padding: 2vw;
  }
  textarea {
    font-size: 2vw;
    padding-left: 3vw;
    line-height: 2.5vw;
  }
  .line-numbers {
    width: 3vw;
    padding-right: 1vw;
    font-size: 2vw;
    color: gray;
  }
  .addComm h2,
  .viewComm h2 {
    font-size: 4vw;
  }
  .comment {
    padding: 2vw;
  }
  .comment h3 {
    font-size: 3vw;
  }
  .comment p {
    font-size: 3vw;
  }
  .description {
    font-size: 2vw;
  }
  #commentForm button {
    font-size: 3vw;
    padding: 1vw 2vw;
  }
  .comments {
    height: 38vw;
  }
  #attempts {
    padding: 1vw;
  }
  #attempt h3 {
    font-size: 3vw;
  }
  .viewEvaluation {
    font-size: 3vw;
    padding: 1vw 2vw;
    margin-left: 1vw;
  }
  .viewBtn {
    font-size: 3vw;
    padding: 1vw 2vw;
    margin-left: 1vw;
  }
  #attempts {
    height: 40vw;
  }
  #attempt {
    margin-bottom: 2vw;
  }
}
