body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

main {
  padding: 30px;
}

.comment h2 {
  margin-bottom: 10px;
  font-size: 28px;
}
.comment textarea {
  font-size: 16px;
}

.problems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.problems,
.solutions,
.comments {
  margin-bottom: 30px;
}

.solutions h2 {
  margin: 0;
  margin-bottom: 25px;
}

.problems h2 {
  margin-top: 0;
}
.comments h2 {
  margin: 0;
  margin-bottom: 25px;
}

.comment textarea {
  resize: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 97%;
}

.commBtn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

.attempts {
  margin-top: 20px;
}

.attempts h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

#attemptList {
  padding: 5px;
}

.attempt {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.attemptText {
  font-weight: bold;
}
.attemptText2 {
  color: gray;
}

.viewCodeBtn {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
.commentCodeBtn {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.attempt:last-child {
  border-bottom: none;
}

.attempt p {
  margin: 0;
}

.attempt .attempt-id {
  font-weight: bold;
}

.attempt .attempt-details {
  margin-top: 5px;
  color: #666;
}

.problem,
.solution,
.comment {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.problem h3 {
  font-size: 22px;
  margin-top: 0px;
}
.problem p {
  font-size: 18px;
  color: gray;
}
.solve-btn {
  font-size: 18px;
}

.solve-btn,
.comment-btn,
.star-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.solve-btn:hover,
.comment-btn:hover,
.star-btn:hover {
  background-color: #0056b3;
}
.mark-stars {
  margin-top: 20px;
}

.stars {
  display: flex;
}

.star {
  font-size: 22px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-right: 5px;
}

.star.selected {
  color: gold;
}

.solution h3 {
  margin-top: 0px;
  font-size: 20px;
}

.solution p {
  font-size: 18px;
  color: gray;
}

.comment h3 {
  font-size: 20px;
}
.comment p {
  color: gray;
}
@media all and (max-width: 768px) {
  .problems {
    display: block;
  }
  .hero h2 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 360px;
    margin: 40px auto;
  }
  .hero p {
    width: 360px;
    margin: auto;
    font-size: 14px;
  }

  .problems h2,
  .solutions h2,
  .comments h2 {
    font-size: 18px;
  }
  .problem h3 {
    font-size: 18px;
  }
  .problem p {
    font-size: 14px;
  }
  .solve-btn {
    font-size: 14px;
  }
  .solution h3 {
    font-size: 16px;
  }
  .solution p {
    font-size: 14px;
  }
  .comment textarea {
    width: 70%;
    font-size: 12px;
  }
  .mark-stars h3 {
    font-size: 14px;
  }
}
@media all and (max-width: 360px) {
  .hero h2 {
    font-size: 4vw;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
  }
  .hero p {
    width: 100%;
    font-size: 3vw;
  }
  .problems h2,
  .solutions h2,
  .comments h2 {
    font-size: 3vw;
  }
  main {
    padding: 15px;
  }
  .problem,
  .solution,
  .comment {
    padding: 6vw;
  }
  .problem h3 {
    font-size: 3vw;
  }
  .problem p {
    font-size: 2vw;
  }
  .solve-btn {
    font-size: 2vw;
  }
  .solve-btn {
    padding: 3vw;
  }
  .solution h3 {
    font-size: 3vw;
  }
  .solution p {
    font-size: 2vw;
  }
  .comment textarea {
    font-size: 2vw;
  }
  .star {
    font-size: 3vw;
    padding: 2vw;
  }
  .comment h3 {
    font-size: 3vw;
  }
  .comment p {
    font-size: 2vw;
  }
}
